body {
    font-family: "Rubik", sans-serif;
  }
  
  #menu-toggle:checked + #menu {    /* ver seudoclase :checked */
    display: block;
  }
  
  .dropdown:hover .dropdown-menu,   /* ver seudoclase :hover */
  .dropdown:active .dropdown-menu { /* ver seudoclase :active */
    display: block;
  }